*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url("https://img-cdn.tinkoffjournal.ru/-/chto-poest-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    width: 100vw;
}
.main{
    background-color: white;
    height: 100vh;
    width: 40vw;
    padding: 20px;
}
header p{
    font-size: 50px;
    color: rgb(0,0,0, .6);
}
span{
    font-weight: bold;
}
h1{
    font-size: 50px;
}
.btn-spin{
    background-color: black;
    border: none;
    padding: 15px;
    width: 250px;
    color: white;
    font-size: 25px;
    border-radius: 15px;
    margin-top: 100px;
    cursor: pointer;
    transition: .5s;
}
.btn-spin:hover{
    background-color: rgb(0,0,0, .8);
}
.btn-spin:active{
    background-color: rgb(0,0,0, .5);
    color: black;
}
.data{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: keysProd 5s linear;
}
@keyframes keysProd {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
.roulette-category{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.roulette-category h3{
    font-size: 30px;
}

.product-button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
}
.product-button button{
    width: 220px;
    height: 70px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}
.product-button button:hover{
    background: rgba(0,0,0,.8);
}